# dependencies
node_modules/

# environment variables
.env
.env.*
.env.local
.env.development
.env.production
node_modules/
dist/
build/
Dockerfile.local


# build files
dist/
build/

# logs
logs
*.log

# OS files
.DS_Store
Thumbs.db
 